<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<div id="main"> 
  <div class="container pa_20"> 
    <div class="main-content card card-block">
      <div class="text-center" style="padding-top: 20px;">
        <h4>Locations for all camps</h4>
        <div class="row">
          <div class="col">
          <%= link_to 'Back', homepage_path, class: 'w_color btn btn-success'%>
          </div>
          <div class="col">
          <%= link_to 'Add New Location' ,new_camp_location_path,class: 'w_color btn btn-success'%>
          </div>
          <div class="col">
            <%= link_to 'Export CSV', export_csv_camp_locations_path(format: "csv"),  class: 'w_color btn btn-success' %>
          </div>
          <div class="col mr-4">
            <%= form_with method: :get, local: true do |f| %>
              <%= f.text_field :search,value: params[:search] %>
              <%= f.submit 'Search' %>
            <% end %> 
          </div>
        </div>
        <%= render 'camp_locations/camp_list', camp_locations: @camp_locations %>
      </div>
    </div>
  </div>
</div>


