<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<div id="main"> 
  <div class="container p-4" > 
    <div class="main-content card card-block">
      <div class="text-center pt-4">
        <h4>Camps for Test Resident Camp</h4>
        <div class="col">
          <%= form_with method: :get, local: true do |f| %>
            <%= f.text_field :search,value: params[:search] %>
            <%= f.submit 'Search' ,class:'btn-success btn btn-sm ml-2'%>
          <%end%> 
        </div>    
        <div class="table-responsive p-3">
          <table id="mytable" class="table table-bordred table-striped">
            <thead>
              <th><input type="checkbox" /></th>
              <th><%= sortable_camp "camp_title"%></th>
              <th><%= sortable_camp "camp_type"%></th>
              <th>Location</th>
              <th>Status</th>
              <th>Registration Date</th>
              <th>Actions</th>
              <th></th>
            </thead>
            
            <tbody>
              <% @camps.each do |camp| %>
                <tr>
                  <td><input type="checkbox"  /></td>
                  <td> <%= camp.camp_title %> </td>
                  <td> <%= camp.camp_type %> </td>
                  <td> 
                    <% camp.camp_locations.each do |location| %>
                      <div><%= location.name %></div>
                    <%end%>
                  </td>
                  <td id="status_<%= camp.id %>"> <%= camp.camp_status%> </td>
                  <td> <%= camp.applicant_registration_start_date %> </td>
                  <td>
                    <%= link_to '<button class="btn buttons"><i class="material-icons table_icons">visibility</i></button>'.html_safe, admin_panel_camp_path(camp), title: 'Show Camp' %>
                    <%= link_to '<button class="btn buttons"><i class="material-icons table_icons">create</i></button>'.html_safe, edit_admin_panel_camp_path(camp), title: 'Edit Camp' %>
                    <%= link_to '<button class="btn buttons"><i class="material-icons table_icons">delete</i></button>'.html_safe,admin_panel_camp_path(camp), method: :delete, data: { confirm: 'Are you sure?' }, title: 'Delete Camp' %>
                  </td>
                  <td >
                    <% if camp.camp_status == 'Active' %>
                    <div class="toggle-btn active" id="togglebtn" onclick="this.classList.toggle('active')">
                      <div class="inner-circle"> <%= link_to '<button class="btn btn-transparent noHover"></button>'.html_safe, toggle_status_admin_panel_camp_path(camp),method: :patch, remote: true%> </div>
                    </div>  
                    <%else%>
                    <div class="toggle-btn" onclick="this.classList.toggle('active')">
                      <div class="inner-circle">  <%= link_to '<button class="btn btn-transparent noHover"></button>'.html_safe, toggle_status_admin_panel_camp_path(camp),method: :patch,remote: true%></div>
                    </div> 
                    <%end%>                                  
                  </td>
                </tr>
              <%end%>
            </tbody>
          </table>
          <div class="d-flex justify-content-center">
          <%= paginate @camps %>
          </div>    
          <div class="d-flex justify-content-center">
          </div>
          <%= link_to 'Add New Camp' ,new_admin_panel_camp_path,class: 'btn btn-success text-light'%>
           <%= link_to 'Download CSV list', admin_panel_camps_path(format: :csv) ,class: 'btn btn-success'%>
        </div>
      </div>
    </div>
  </div>
</div>