<div class="container  su" >
	<div class="progress">
	  <div id="personal_info_tag" class="progress-bar bg-warning" role="progressbar" style="width: 9%"></div>
	  <div class="text-white" role="progressbar" style="width: 1%"></div>
	  <div id="education_tag" class="progress-bar bg-warning" role="progressbar" style="width: 9%"></div>
	  <div class="text-white" role="progressbar" style="width: 1%"></div>
	  <div id="camp_tag" class="progress-bar bg-warning" role="progressbar" style="width: 9%"></div>
	  <div class="text-white" role="progressbar" style="width: 1%"></div>
	  <div id="tech_tag" class="progress-bar bg-warning" role="progressbar" style="width: 9%"></div>
	  <div class="text-white" role="progressbar" style="width: 1%"></div>
	  <div class="progress-bar bg-warning" role="progressbar" style="width: 9%"></div>
	  <div class="text-white" role="progressbar" style="width: 1%"></div>
	  <div class="progress-bar bg-warning" role="progressbar" style="width: 9%"></div>
	  <div class="text-white" role="progressbar" style="width: 1%"></div>
	  <div class="progress-bar bg-warning" role="progressbar" style="width: 9%"></div>
	  <div class="text-white" role="progressbar" style="width: 1%"></div>
	  <div class="progress-bar bg-warning" role="progressbar" style="width: 9%"></div>
	  <div class="text-white" role="progressbar" style="width: 1%"></div>
	  <div class="progress-bar bg-warning" role="progressbar" style="width: 9%"></div>
	  <div class="text-white" role="progressbar" style="width: 1%"></div>
	  <div class="progress-bar bg-warning" role="progressbar" style="width: 9%"></div>
	  <div class="text-white" role="progressbar" style="width: 1%"></div>
	</div>
	<br>
  <div class="main-content card card-block  p-2">
    <div class="ptlr_20">
      <h1 class="text-center">Complete your Profile</h1>
      <%= form_for @user do |f| %>
			  <%= render "#{@user.current_step}_step", f: f %> 
			  <div class= "row">
			  	<div class="col">
					  <p><%= f.submit "Previous", class: 'btn btn-secondary', name: 'back_button' unless @user.first_step?  %></p>
					</div>
			  	<div class="col">
				  	<%= f.submit "Continue" , class: 'btn btn-success ' unless @user.last_step?  %>
				</div>
				</div>
			<% end %>
			<%= link_to 'Back to Application Form', profile_user_path(current_user.id), class: 'w_color btn btn-success d-flex justify-content-center'%> 
		</div>
	</div>
</div>

