<div class="container" style="width: 30rem; margin-top: 100px;">
  <div class="main-content card card-block">
    <div class="text-center p_20">
      <h2>Change your password</h2>
    </div>
    <hr/>
    <div class="card-body login-form">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>
      <%= flash[:alert]%>
      <div class="field col-12">
        <%= f.label :password, "New password:*" %><br />
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: 'w_100' %>
      </div>
      <div class="field col-12">
        <%= f.label :password_confirmation, "Confirm new password:*" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'w_100' %>
      </div>
        <div class="row ml-1 mr-1">
          <div class="col-6">
            <a href="<%= new_user_session_path %>" class="w_100 g_color any_links btn border border-success" role="button" aria-disabled="true">Back to Sign In</a>
          </div>
          <div class="actions col-6">
            <%= f.submit "Change Password", class: 'text-center w_100 btn btn-success'  %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

