<div>
  <% if current_user.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(current_user.errors.count, "error") %> Not saved:</h2>
            <ul>
            <% current_user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>     
      <%= form_with model: current_user, url: camp_application_path(@camp_application), method: :patch do |user| %>
        <div class="row">
          <div class="field col-4">        
            <%= user.label :first_name %><br />
            <%= user.text_field :first_name, autocomplete: "first_name", class: 'w_100', oninput: 'auto_update_user();',id:'first-name'%>
          </div>
          <div class="field col-4">
            <%= user.label :middle_name%><br />
            <%= user.text_field :middle_name,autofocus: true, autocomplete: "middle-name", class: 'w_100',id:'middle-name', oninput: 'auto_update_user();'%>
          </div>
          <div class="field col-4">
            <%= user.label :last_name%><br />
            <%= user.text_field :last_name, autofocus: true, autocomplete: "last-name", class: 'w_100',id:'last-name', oninput: 'auto_update_user();'%>
          </div>
        </div>
        <div class="row">
          <div class="field col-6">
            <%= user.label :email%><br />
            <%= user.email_field :email, autofocus: true, autocomplete: "email", class: 'w_100',id:'email', oninput: 'auto_update_user();'%>
          </div>          
          <div class="field col-6">
            <%= user.label :phone_number %><br />
            <%= user.text_field :phone_number, autofocus: true, autocomplete: "phone-number", class:'quantity w_100',id:'phone-number', oninput: 'auto_update_user();'%>
          </div>           
        </div>
        <div class="row d-flex justify-content-center">
          <div class="field">
             <%= user.label :date_of_birth %><br />           
            <%= user.date_field :date_of_birth  ,id:'date-of-birth', oninput: 'auto_update_user();'%>
          </div>
        </div>
        <br>
        <div class="row d-flex justify-content-center">
          <div class="field">
            <%=user.label :gender %><br>
            <%= user.radio_button :gender, 'man', id: 'gender-male' , oninput: 'auto_update_user();'%>MAN
            <%= user.radio_button :gender, 'women', id: 'gender-women', oninput: 'auto_update_user();'%>WOMEN 
            <%= user.radio_button :gender, 'other', id: 'gender-other', oninput: 'auto_update_user();'%>OTHER
          </div>
        </div>
        <div class="row">
          <div class="col"><%= f.submit "Previous" , class: 'btn btn-secondary', name: 'back_button'   %></div>
          <div class="col d-flex justify-content-end"><%= f.submit "Continue" , class: 'btn btn-success'  %></div>
        </div>
    <%end%>

</div>