<div class="container  su" >
	<div class="progress">
		<% if current_user.gender.blank? || current_user.date_of_birth.blank? %>
		  <div class="bg-warning progressbar_lenght" >
		  	<%= link_to '', edit_camp_application_path(@camp_application,:step=> 'personal_info'), class: 'btn w_100',title: 'Personal Info'%>
		  </div>
		  <div class="text-white progressbar_seperation_lenght" ></div>
	  <%else%>
		  <div class="bg-success progressbar_lenght">
		  	<%= link_to '', edit_camp_application_path(@camp_application,:step=> 'personal_info'), class: 'btn w_100',title: 'Personal Info'%>
		  </div>
		  <div class="text-white progressbar_seperation_lenght" ></div>
	  <%end%>	
		<% if @camp_application.education.blank? %>
		  <div class="bg-warning progressbar_lenght" >
		  	<%= link_to '', edit_camp_application_path(@camp_application,:step=> 'education'), class: 'btn w_100',title: 'Education'%>
		  </div>
		  <div class="text-white progressbar_seperation_lenght" ></div>
	  <%else%>
		  <div class="bg-success progressbar_lenght">
		  	<%= link_to '', edit_camp_application_path(@camp_application,:step=> 'education'), class: 'btn w_100',title: 'Education'%>
		  </div>
		  <div class="text-white progressbar_seperation_lenght" ></div>
	  <%end%>
	  <% if @camp_application.camp_preferences.blank? %>
		  <div class="bg-warning progressbar_lenght" >
		  	<%= link_to '', edit_camp_application_path(@camp_application,:step=> 'camp_preference'), class: 'btn w_100',title: 'Camp Preferences'%>
		  </div>
		  <div class="text-white progressbar_seperation_lenght" ></div>
	  <%else%>
		  <div class="bg-success progressbar_lenght">
		  	<%= link_to '', edit_camp_application_path(@camp_application,:step=> 'camp_preference'), class: 'btn w_100',title: 'Camp Preferences'%>
		  </div>
		  <div class="text-white progressbar_seperation_lenght" ></div>
	  <%end%>
	  <% if @camp_application.social_media.blank? %>
		  <div class="bg-warning progressbar_lenght" >
		  	<%= link_to '', edit_camp_application_path(@camp_application,:step=> 'social_media'), class: 'btn w_100',title: 'Social Media'%>
		  </div>
		  <div class="text-white progressbar_seperation_lenght" ></div>
	  <%else%>
		  <div class="bg-success progressbar_lenght">
		  	<%= link_to '', edit_camp_application_path(@camp_application,:step=> 'social_media'), class: 'btn w_100',title: 'Social Media'%>
		  </div>
		  <div class="text-white progressbar_seperation_lenght" ></div>
	  <%end%>
	  <% if @camp_application.technology_requirements.blank? %>
		  <div class="bg-warning progressbar_lenght" >
		  	<%= link_to '', edit_camp_application_path(@camp_application,:step=> 'technology_requirements'), class: 'btn w_100',title: 'technology Requirements'%>
		  </div>
		  <div class="text-white progressbar_seperation_lenght" ></div>
	  <%else%>
		  <div class="bg-success progressbar_lenght">
		  	<%= link_to '', edit_camp_application_path(@camp_application,:step=> 'technology_requirements'), class: 'btn w_100',title: 'technology Requirements'%>
		  </div>
		  <div class="text-white progressbar_seperation_lenght" ></div>
	  <%end%>
	</div>
	<br>
  <div class="main-content card card-block  p-2">
    <div class="ptlr_20">
      <h1 class="text-center">Complete your Profile</h1>
      <%= form_for @camp_application do |f| %>
			  <%= render "#{@camp_application.current_step}_step", f: f %> 
			  <div class= "row">
			  	<div class="col">
					  <p><%= f.submit "Previous", class: 'btn btn-secondary', name: 'back_button' unless @camp_application.first_step? ||      @camp_application.current_step == 'personal_info' %></p>
					</div>
			  	<div class="col d-flex justify-content-end">
				  	<%= f.submit "Continue", class: 'btn btn-success ' unless @camp_application.last_step? || @camp_application.current_step== 'personal_info' %>
					</div>
				</div>
			<% end %>
			<br>
			<div class="d-flex justify-content-center">
				<%= link_to 'Back to Application Form', profile_camp_application_path(@camp_application,@camp_application.camp_id), class: 'w_color btn btn-success'%>
			</div>
		</div>
	</div>
</div>