<div class="table-responsive p_20">
  <table id="mytable" class="table table-bordred table-striped">
    <thead>
      <th><input type="checkbox" id="checkall" /></th>
      <th><%= sortable "id"%></th>
      <th><%= sortable "username"%></th>
      <th><%= sortable "email"%></th>
      <th><%= sortable "country"%></th>
      <th><%= sortable "phone_number"%></th>
      <th>Actions</th>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><input type="checkbox" class="checkthis" /></td>
          <td> <%= user.id %> </td>
          <td> <%= user.first_name %> </td>
          <td> <%= user.email %> </td>
          <td> <%= user.phone_number %> </td>
          <td> <%= user.country %> </td>
          <td>
            <%= link_to '<button class="btn buttons"><i class="material-icons table_icons">visibility</i></button>'.html_safe, user_path(user) %>
            <%= link_to '<button class="btn buttons"><i class="material-icons table_icons">create</i></button>'.html_safe, edit_user_path(user) %>
            <%= link_to '<button class="btn buttons"><i class="material-icons table_icons">delete</i></button>'.html_safe,user_path(user), method: :delete, data: { confirm: 'Are you sure?' }   %>
          </td>
        </tr>
      <%end%>
    </tbody>
  </table>
  <div class="d-flex justify-content-center">
    <%= paginate @users %>
  </div>
    <%= link_to 'Add New User' ,new_user_by_admin_path,class: 'btn btn-success'%>
    &nbsp;&nbsp;&nbsp;
    <%= link_to 'Download CSV list', homepage_path(format: :csv) ,class: 'btn btn-success'%>
</div>