<div class="table-responsive" style="padding: 20px;">
<table id="mytable" class="table table-bordred table-striped">
  <thead>
    <th><input type="checkbox" id="checkall" /></th>
    <th><%= filterrific_sorting_link(@filterrific, :id)%></th>
    <th><%= filterrific_sorting_link(@filterrific, :username)%></th>
    <th><%= filterrific_sorting_link(@filterrific, :email)%></th>
    <th><%= filterrific_sorting_link(@filterrific, :phone_number)%></th>
    <th><%= filterrific_sorting_link(@filterrific, :country)%></th>
    <th>Actions</th>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><input type="checkbox" class="checkthis" /></td>
        <td> <%= user.id %> </td>
        <td> <%= user.username %> </td>
        <td> <%= user.email %> </td>
        <td> <%= user.phone_number %> </td>
        <td> <%= user.country %> </td>
        <td>
          <%= link_to '<button class="btn buttons"><i class="material-icons table_icons">visibility</i></button>'.html_safe, show_user_by_admin_path(user) %>
          <%= link_to '<button class="btn buttons"><i class="material-icons table_icons">create</i></button>'.html_safe, edit_user_by_admin_path(user) %>
          <%= link_to '<button class="btn buttons"><i class="material-icons table_icons">delete</i></button>'.html_safe,destroy_user_by_admin_path(user), method: :delete, data: { confirm: 'Are you sure?' }   %>
        </td>
      </tr>
    <%end%>
  </tbody>
</table>
<%= link_to 'Add New User' ,new_user_by_admin_path,class: 'btn btn-success'%>
</div>